:root {
    --clr-primary: #8e74ff;
    --clr-prim-hover: #9B85FF;
    --clr-btn-focus:#e4e4e4;
    --noto: "Noto Serif",Georgia,serif;
    --lato: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--lato);
    letter-spacing: 0.3px;
}

h1,h2,h3,h4,h5,h6 {
    color: #1f1f1f;
}

.signin {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.2);
}

.signin > h2 {
    text-align: center;
}

.login-form label {
    margin: 10px 0 0px 0px;
}

label {
    font-size: 1.1em;
}

.login-form input , .login-form button {
    width: 100%;
    height: 35px;
    background: #fff;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.login-form a {
    font-size: 14px;
}

.login-form input[type*="submit"] {
    background: transparent;
    color: #9B85FF;
    font-size: 16px;
    padding: 0;
    margin: 10px 0 30px;
    cursor: pointer;
    border: 1px solid #9B85FF;
    transition: .2s all ease-out;
}

.login-form input[type*="submit"]:hover {
    background: #9B85FF;
    color: #fff;
}

.login-form {
    margin: 10px 0;
}

.errpass {
    color: red;
}

.head {
    background-image: url(../imgs/head.jpg);
    background-position: center;
    flex-direction: column;
    padding: 60px 30px;
    justify-content: center;
    align-items: center;
}

.head h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* homepage */

.get-med-form {
    width: 100%;
    justify-content: center;
    max-width: 720px;
}

.get-med-form > input {
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1em;
}

.get-med {
    flex: 1 1 0%;
    margin-right: 20px;
    border: 1px solid #111 !important;
}

.get-med-form > input[type*="submit"] {
    padding: 20px 40px;
    cursor: pointer;
    background: #8e74ff;
    color: #fff;
    transition: .5s all ease-out;
}

.get-med-form > input[type*="submit"]:hover {
    background: #9B85FF;
}

.site-save {
    background-color: #fff;
    padding: 60px 40px;
}

.pharm-row {
    padding-top: 20px;
    width: 100%;
}

.site-pharm {
    flex: 25%;
    background-color: #fff;
    box-shadow: 0 0 5px 1px #ededed;
    border-radius: 10px;
    margin: 25px;
    padding: 20px;
}

hr {
    --clr: #c4c4c4;
    border-color: var(--clr);
    background-color: var(--clr);
    color: var(--clr);
    border-top: 1px;
    height: 1px;
    margin: 15px 0;
}

.pharm-p {
    font-size: 1.15em;
    font-weight: bolder;
    margin-bottom: 15px;
}

.site-pharm ul {
    padding: 0 20px;
    margin: 20px 0;
}

.site-pharm ul li{
    margin: 5px 0;
    color: #434343;
}

.site-pharm a, .coms a {
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    border: 1px solid #8e74ff;
    color: #8e74ff;
    border-radius: 10px;
    padding: 10px 20px;
    transition: .5s color ease-out, .3s background-color ease-out;
}

.site-pharm a:hover, .coms a:hover {
    background-color: #9B85FF;
    color: #f4f4f4;
}

.common {
    background-color: #6aff6a;
    padding: 25px;
}

.common h2 {
    margin: 10px 25px 0;
}

.coms {
    flex: 30%;
    margin: 25px;
}

.com-img {
    border-radius: 10px;
    width: 100%;
}

.coms hr {
    --clr: #8e74ff;
    border-color: var(--clr);
    background-color: var(--clr);
    color: var(--clr);
}

.coms p:not(.common-desc) {
    color: #464646;
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

.common-desc {
    font-size: 1.1em;
    text-align: left;
    color: #464646;
    margin-bottom: 10px;
    padding: 10px 0;
}

.footer {
    background: #6aff6a;
    border-top: 1px solid #2be52b;
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

/* profile page  */

.profile-container {
    box-shadow: 0 0 10px 1px #eee;
    margin: 40px;
    border-radius: 10px;
    padding: 20px;
}

.profile-container hr {
    margin: 5px 0;
}

.member-top {
    width: 100%;
}

.member {
    flex: 80%;
    align-items: end;
}

.member p {
    color: #434343;
    margin: 5px 0;
}

.logout {
    flex: 20%;
    justify-content: end;
    align-items: end;
}

.logout a {
    color: #9B85FF;
    text-decoration: none;
}

.logout a:hover {
    text-decoration: underline;
}

.p-info {
    margin: 25px 0 15px;
}

.p-info p {
    color: #434343;
    margin-top: 5px;
}

.info-row{
    width: 100%;
}

.info-row div{
    flex: 50%;
    padding-right: 10px;
}

.info-row input:not(.info-row input[type*="submit"]) {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
    border-bottom: 2px solid #c5b8ff;
    transition: .1s all ease-out;
}

.info-row input:not(.info-row input[type*="submit"]):active, .info-row input:not(.info-row input[type*="submit"]):hover, .info-row input:not(.info-row input[type*="submit"]):focus {
    border-color: #9B85FF;
}

.info-row:last-child {
    justify-content: end;
}

.info-row input[type*="submit"] {
    font-size: 1.1em;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px 10px 0 0;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #c5b8ff;
    color: #c5b8ff;
    transition: .3s all ease-out;
    cursor: pointer;
}

.info-row input[type*="submit"]:hover {
    border-color: #9B85FF;
    background-color: #9B85FF;
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.records {
    padding: 20px 10px;
    background: #fbfbfb;
}

.records a {
    text-decoration: none;
}

.records p{
    color: #434343;
    margin: 5px 0;
}

.records:hover {
    background: #fdfdfd;
}

.records:hover *{
    color: #575757 !important;
}

@media screen and (max-width: 992px) {
    
    .logo{
        display: none;
    }

}